*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(255, 255, 255);
    block-size:  border-box;
}
/* ---------------------------------------------------------------------------------------------------------- */
header{
    display: flex;    
    justify-content: space-around;
}
.encabezado{
    background-color: whitesmoke;
    height: 95px;  
    box-sizing: border-box;
    align-items: center;      
}
.encabezado-izquierda{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 15px;
}
.menu a{
    padding: 20px;
}
.linea{
    text-decoration: none;
    color: #1B5194;    
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.linea:hover{
    color: rgb(172, 169, 169);
}
/* ---------------------------------------------------------------------------------------------------------- */
.container2{
    display: flex;
    background-color: #315470;
    height: 700px;
}
.cuadro1{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.oferta{
    /* border: 2px solid red; */
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;
    margin-top: 50px;
    padding-left: 30%;
}
.eslogan{
    /* border: 2px solid red; */
    font-size: 350%;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;    
    font-weight: bold;
    padding-left: 30%;
}
.mensaje{
    /* border: 2px solid red; */
    color: white;
    font-weight: bold;
    font-size: 150%;
    padding-left: 30%;
}
.registro{
    /* border: 2px solid red; */
    padding-left: 30%;
}
.correo{
    background-color: white;
    width: 500px;
    height: 50px;
    color: black;
    font-size: 120%;
    border-radius: 5%;
}
.enviar{
    background-color: #35bdcf;
    width: 100px;
    height: 50px;
    color: white; 
    border-radius: 8%;
}
.enviar:hover{
    background-color: #127f8d;
}
.enviar:active{
    border: 2px solid 
}
.suscribete{
    /* border: 2px solid red; */
    color: white;
    font-weight: bold;
    margin-top: -50px;
    padding-left: 32%;
}
.cuadro2{
    /* border: 2px solid red; */
    display: flex;
    width: 50%;   
    justify-content: center;
    align-content: center;    
}
.imagen{
    width: 100%;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container3{
    background-color: #F5F5F5;
}
.novedades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B5194;
    padding-top: 115px;
    text-align: center;
}
.novedades h1{
    font-size: 36px;
}
.novedades h3{
    font-size: 16px;
    padding: 10px;
}
.novedades p{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container4{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    height: 600px;
}
.tarjeta{
    display: flex;
    flex-direction: column;   
    width: 350px;
    height: 75%;
    border-radius: 2%;
    box-shadow: 0.2px 0.2px 1px #999999;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}
.tarjeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.tarjeta1{
    margin-right: 20px;
}
.fotoTarjeta{
    margin-top: 15px;
    width: 200px;
    height: 170px;  
}
.cajaFoto{
    align-self: center;
}
.textoTarjeta{
    font-family: sans-serif;
    color: #1B5194;
    font-weight: bold;
    text-align: left;
}
.textoTarjeta1{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
}
.textoTarjeta2{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
}
.descripcion{
    font-family: sans-serif;
    color: #8c9fad;
    text-align: left;
    font-size: 16px;
    text-align: justify;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.pieTarjeta{
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.cajaFotoPieTarjeta{
    margin-left: 20px;
    margin-top: 3px;
}
.fotoPieTarjeta{
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.textoPieTarjeta a{
    text-decoration: none;
    color: #1B5194;
    font-family: sans-serif;
    font-size: 14px;    
    font-weight: bold;
}
.textoPieTarjeta{    
    text-align: left;
    margin-left: 15px;
}
.eventoPiePagina{
    font-family: sans-serif;
    font-size:14px;
    color: #1B5194;
    text-align: left;
    margin-left: 15px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container5{
    box-sizing: content-box;
    display: flex;
    background-color: #315470;
    height: 600px;
}
.cuadro3{
    display: flex;
    width: 51%;   
}
.imagen2{
    width: 100%;
}
.cuadro4{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    justify-content: center;
    padding-left: 40px;
}
.mensaje2{
    color: white;
}
.eslogan2{
    font-size: 200%;    
    color: white;
    font-weight: bold;
    line-height: 1;
    padding-top: 20px;
    padding-right: 30px;
}
.mensaje3{
    color: white;
    padding-top: 20px;
    text-align: justify;
    line-height: 1.6;
    padding-right: 40px;
    margin-bottom: 50px;
}
.contacto{
    background-color: white;
    text-decoration: none;    
    color: #1B5194;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}
.imgDerecha{
    position: relative;
    width: 20px;
    height: 17px;
    top: 3px;
    left: 10px;
}
/* ---------------------------------------------------------------------------------------------------------- */
footer{  
    display: flex;
    justify-content: space-evenly;
    height: 240px;
    margin-top: 30px;
}
.icono{
    width: 20px;
}
.icono:hover{
    width: 20px;
    transform: scale(2.0);
}
.redes{
    height: 10%;
    padding: 20px;
}
.redes a{    
    padding: 12px;
}
.opciones{
    display: flex;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
li{
    padding-top: 10px;
    list-style: none;
}
.opcion{
    text-decoration: none;    
    color: black;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: auto;   
}
.opcion:hover{
    background-color: #99999960;
    color: #1B5194;
    font-weight: bold;
}
.col{
    padding: 20px 60px; 
}
/* ---------------------------------------------------------------------------------------------------------- */
.division{
    width: 50%;
    margin: auto;
    border-color: rgba(128, 128, 128, 0.274);
}
.derechos{
    text-align: center;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgba(128, 128, 128, 0.691);  
}

/* ---------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1320px) {
    .oferta     { padding-left: 5%; }
    .eslogan    { padding-left: 5%; }
    .mensaje    { padding-left: 5%; }
    .registro   { padding-left: 5%; }
    .suscribete { padding-left: 7%; }  
}
@media screen and (max-width: 1200px) {
    .oferta     { padding-left: 1%; }
    .eslogan    { padding-left: 1%; }
    .mensaje    { padding-left: 1%; }
    .correo     { width: 460px;     }
    .registro   { padding-left: 1%; }
    .suscribete { padding-left: 3%; }  
}
@media screen and (max-width: 992px) {
    .container2 { display: block;  height: 1010px; }
    .container4 { height: 500px; }
    .cuadro1    { box-sizing: content-box; width: 100%; height: 600px; margin: 0; padding: 0; text-align: center;}    
    .oferta     { width: 100%; padding-left: 0%; margin-top: 0px;}
    .eslogan    { width: 60%;  padding-left: 0%; margin: 0 auto;}
    .mensaje    { width: 100%; padding-left: 0%; }
    .registro   { width: 100%; padding-left: 0%; text-align: center; }
    .suscribete { width: 100%; margin-top: -20px; padding-left: 0%; }
    .cuadro2    { width: 100%; height: 400px; }
    .imagen     { width: auto; height: auto }
    .tarjeta    { height: 90% !important; }
    .tarjeta1   { margin-right: 15px; }
    .cuadro3    { width: 50%; }
    .cuadro4    { width: 50%; }
    .imagen2    { width: 90%; height: 50%; align-self: center; margin-left: 35px;}
    footer      { display: block; height: 300px; }
    .redes      { height: 5%; text-align: center; }
    .opciones   { margin: 0px; justify-content: center; margin-top: 20px}
}
@media screen and (max-width: 576px) {
    .container2 { display: block;  height: 1010px; }
    .container4 { flex-wrap: wrap; height: auto; }
    .container5 { height: 650px; flex-wrap: wrap; justify-content: center;}
    .cuadro1    { box-sizing: content-box; width: 100%; height: 600px; margin: 0; padding: 0; text-align: center;}    
    .oferta     { width: 60%; padding-left: 0%; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;}
    .eslogan    { width: 60%;  padding-left: 0%; margin: 0 auto; margin-bottom: 20px;}
    .mensaje    { width: 80%; padding-left: 0%; margin: 0 auto; margin-bottom: 20px;}
    .registro   { width: 100%; padding-left: 0%; text-align: center; }
    .correo     { width: 400px;}
    .suscribete { width: 80% !important; padding-left: 0%; margin: 0 auto; margin-top: 10px;}
    .cuadro2    { width: 100%; height: 400px; }
    .imagen2    { height: auto !important; }
    .imagen     { width: 60%; height: 300px; margin-top: 50px; }
    .novedades  { padding-top: 50px;}
    .tarjeta    { height: 95% !important; margin-bottom: 20px;}
    .tarjeta1   { margin-right: 5px; }
    .cuadro3    { width: 50%; }
    .cuadro4    { width: 90%; text-align: center;}
    .imagen2    { width: 90%; height: 50%; align-self: center; margin-left: 35px;}
    footer      { display: block; height: 300px; }
    .redes      { height: 5%; text-align: center; }
    .col        { padding: 20px 25px; }
    .opciones   { margin: 0px; justify-content: center; margin-top: 20px}
    .derechos   { width: 90%; margin: 0 auto; padding: 20px;}
}