*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(255, 255, 255);
    block-size:  border-box;
}
/* ---------------------------------------------------------------------------------------------------------- */
header{
    display: flex;
    justify-content: space-around;
}
.encabezado{
    background-color: whitesmoke;
    height: 95px;  
    box-sizing: border-box;
    align-items: center;      
}
.encabezado-izquierda{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 15px;
}
.menu a{
    padding: 20px;
}
.linea{
    text-decoration: none;
    color: #1B5194;    
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.linea:hover{
    color: rgb(172, 169, 169);
}
/* ---------------------------------------------------------------------------------------------------------- */
.container2{
    display: flex;
    background-color: #315470;
    height: 715px;
}
.relleno{
    width: 17%;   
}
.cuadro1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
}
.oferta{
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;
    margin-top: 50px;
    padding-left: 20px;
}
.eslogan{
    font-size: 350%;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;    
    font-weight: bold;
}
.mensaje{
    color: white;
    font-weight: bold;
    padding-left: 20px;
}
.correo{
    background-color: white;
    width: 500px;
    height: 50px;
    color: black;
    font-size: 120%;
    border-radius: 5%;
}
.suscribete{
    color: white;
    font-weight: bold;
    margin-top: -60px;
    padding-left: 20px;
}
.enviar{
    background-color: #35bdcf;
    width: 100px;
    height: 52px;
    color: white; 
    border-radius: 8%;
}
.enviar:hover{
    background-color: #127f8d;
}
.enviar:active{
    border: 2px solid 
}
.cuadro2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;   
    justify-content: center;
    align-content: center;    
}
.imagen{
    width: 100%;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container3{
    background-color: #F5F5F5;
}
.novedades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B5194;
    padding-top: 115px;
    text-align: center;
}
.novedades h1{
    font-size: 36px;
}
.novedades h3{
    font-size: 16px;
    padding: 10px;
}
.novedades p{
    font-size: 20px;
    padding-top: 15px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container4{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-content: center;
    background-color: #F5F5F5;
    height: 600px;
}
.tarjeta{
    display: flex;
    flex-direction: column;   
    width: 350px;
    height: 450px;
    border-radius: 2%;
    box-shadow: 0.2px 0.2px 1px #999999;
    margin-bottom: 50px;
    margin-right: 30px;
    background-color: #FFFFFF;
}
.fotoTarjeta{
    margin-top: 15px;
    width: 200px;
    height: 170px;  
}
.cajaFoto{
    align-self: center;
}
.textoTarjeta{
    font-family: sans-serif;
    color: #1B5194;
    font-weight: bold;
    text-align: left;
}
.textoTarjeta1{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
}
.textoTarjeta2{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
}
.descripcion{
    font-family: sans-serif;
    color: #8c9fad;
    text-align: left;
    font-size: 16px;
    text-align: justify;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.pieTarjeta{
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.cajaFotoPieTarjeta{
    margin-left: 20px;
    margin-top: 3px;
}
.fotoPieTarjeta{
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.textoPieTarjeta a{
    text-decoration: none;
    color: #1B5194;
    font-family: sans-serif;
    font-size: 14px;    
    font-weight: bold;
}
.textoPieTarjeta{    
    text-align: left;
    margin-left: 15px;
}
.eventoPiePagina{
    font-family: sans-serif;
    font-size:14px;
    color: #1B5194;
    text-align: left;
    margin-left: 15px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.container5{
    display: flex;
    background-color: #315470;
    height: 600px;
    margin-top: 30px;
}
.cuadro3{
    display: flex;
    width: 51%;   
}
.imagen2{
    width: 100%;
}
.cuadro4{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    justify-content: center;
    padding-left: 40px;
}
.mensaje2{
    color: white;
}
.eslogan2{
    font-size: 200%;    
    color: white;
    font-weight: bold;
    line-height: 1;
    padding-top: 20px;
}
.mensaje3{
    color: white;
    padding-top: 20px;
    text-align: justify;
    line-height: 1.6;
    padding-right: 40px;
    margin-bottom: 50px;
}
.contacto{
    background-color: white;
    text-decoration: none;    
    color: #1B5194;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}
.imgDerecha{
    position: relative;
    width: 20px;
    height: 17px;
    top: 3px;
    left: 10px;
}
/* ---------------------------------------------------------------------------------------------------------- */
footer{
    height: 250px;
    display: flex;
    margin-top: 30px;
}
.icono{
    width: 20px;
}
.redes{
    height: auto;
    padding: 20px;
    margin-left: 310px;
}
.redes a{
    padding: 12px;
}
.opciones{
    display: flex;
    height: auto;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.coleccion{
    padding: 20px;
    margin-right: 60px;
}
li{
    padding-top: 10px;
    list-style: none;
}
.opcion{
    text-decoration: none;    
    color: black;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;   
}
.soporte{
    padding: 20px;
    margin-right: 60px;
}
.nosotros{
    padding: 20px;
    margin-right: 60px;
}
.legal{
    padding: 20px;
    margin-right: 60px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.division{
    width: 50%;
    margin: auto;
    border-color: rgba(128, 128, 128, 0.075);
}
.derechos{
    text-align: center;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
   color: rgba(128, 128, 128, 0.691);  
}